<router-outlet />

<nav
  class="fixed bottom-0 inset-x-0 p-2 text-white flex items-center justify-center gap-2 z-999"
>
  <a
    [routerLink]="['']"
    class="size-12 rounded-full bg-white flex items-center justify-center text-teal-400 shadow inset-ring inset-ring-teal-400"
  >
    <i
      class="icon-[icon-park-twotone--home] text-lg"
      role="img"
      aria-hidden="true"
    ></i>
  </a>
  <a
    [routerLink]="['']"
    class="size-12 rounded-full bg-white flex items-center justify-center text-teal-400 shadow inset-ring inset-ring-teal-400"
  >
    <i class="icon-[bx--cog] text-lg" role="img" aria-hidden="true"></i>
  </a>
</nav>
