<nav
  [@menu]="show() ? 'open' : 'close'"
  class="fixed inset-x-0 rounded-t-3xl z-9999 py-4 px-2 bg-white overflow-hidden"
>
  <div class="flex items-center justify-">
    <div
      class="grid grid-cols-4 tablet:grid-cols-5 laptop:grid-cols-6 gap-8 px-12 *:cursor-pointer"
    >
      <div
        class="flex flex-col gap-2 items-center justiy-center"
        (click)="categoryChange.emit('canteen')"
        (click)="show.set(false)"
      >
        <div
          class="flex items-center justify-center size-12 rounded-full ring ring-red-400"
        >
          <i
            class="icon-[mdi--restaurant] shrink-0 text-red-400"
            role="img"
            aria-hidden="true"
          ></i>
        </div>
        <span class="text-sm font-light text-red-400">Canteen</span>
      </div>
      <div
        class="flex flex-col gap-2 items-center justiy-center"
        (click)="categoryChange.emit('office')"
        (click)="show.set(false)"
      >
        <div
          class="flex items-center justify-center size-12 rounded-full ring ring-indigo-600"
        >
          <i
            class="icon-[vaadin--office] shrink-0 text-indigo-600"
            role="img"
            aria-hidden="true"
          ></i>
        </div>
        <span class="font-light text-xs text-indigo-600">Office</span>
      </div>
      <div
        class="flex flex-col gap-2 items-center justiy-center"
        (click)="categoryChange.emit('toilet')"
        (click)="show.set(false)"
      >
        <div
          class="flex items-center justify-center size-12 rounded-full ring ring-cyan-600"
        >
          <i
            class="icon-[twemoji--toilet] shrink-0 text-cyan-600"
            role="img"
            aria-hidden="true"
          ></i>
        </div>
        <span class="font-light text-xs text-cyan-600">Toilet</span>
      </div>
      @for (item of [1, 2, 3, 4]; track $index) {
        <span class="size-12 rounded-full ring ring-blue-300"></span>
      }
    </div>
  </div>
</nav>
