<nav class="size-full rounded-t-3xl py-4 px-2 bg-white dark:bg-slate-900">
  <div class="size-full">
    <div
      class="grid mobile:grid-cols-3 tablet:grid-cols-5 laptop:grid-cols-7 desktop:grid-cols-9 gap-x-6 gap-y-10 w-full px-3 tablet:px-8 *:cursor-pointer"
    >
      @for (category of categories; track category.name) {
        <app-category-card
          [color]="category.color"
          [text]="category.name"
          [icon]="category.icon"
          (click)="categoryChange.emit(category.name)"
          (click)="show.set(false)"
        />
      }
    </div>
  </div>
</nav>
