<nav
  [@menu]="show() ? 'open' : 'close'"
  class="fixed inset-x-0 rounded-t-3xl z-9999 py-4 px-2 bg-white dark:bg-slate-900 overflow-hidden"
>
  <div class="flex items-center justify-">
    <div
      class="flex flex-wrap justify-items-center *:basis-25 gap-x-6 gap-y-10 w-full px-8 *:cursor-pointer"
    >
      @for (category of categories; track category.name) {
        <app-category-card
          [color]="category.color"
          [text]="category.name"
          [icon]="category.icon"
          (click)="categoryChange.emit(category.name)"
          (click)="show.set(false)"
        />
      }
    </div>
  </div>
</nav>
